/*currencyFooter*/
.currencyFooter {padding:30px 0;border-top:1px solid #EEE;background:#f2f6f8;color:#888;text-align:center}
.currencyFooter a {color:#222}
.currencyFooter em {margin:0 6px; font-style:normal;}